<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Sim
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="simInfo">
    <ion-item-divider color="dark">General</ion-item-divider>
    <ion-item>
      <ion-label>Sim Capacity:</ion-label>
      <ion-input disabled type="text" [ngModel]="simInfo.activeSubscriptionInfoCountMax"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Sim Available:</ion-label>
      <ion-input disabled type="text" [ngModel]="simInfo.activeSubscriptionInfoCount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Network Type:</ion-label>
      <ion-input disabled type="text" [ngModel]="simInfo.networkType"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Sim State:</ion-label>
      <ion-input disabled type="text" [ngModel]="simInfo.simState"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Subscriber ID:</ion-label>
      <ion-input disabled type="text" [ngModel]="simInfo.subscriberId"></ion-input>
    </ion-item>
    <ion-item-divider color="dark">Sim 1</ion-item-divider>
    <ion-item>
      <ion-label>Carrier Name:</ion-label>
      <ion-input disabled type="text" [ngModel]="simInfo.cards[0].carrierName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Display Name:</ion-label>
      <ion-input disabled type="text" [ngModel]="simInfo.cards[0].displayName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Country Code:</ion-label>
      <ion-input disabled type="text" [ngModel]="simInfo.cards[0].countryCode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Device ID:</ion-label>
      <ion-input disabled type="text" [ngModel]="simInfo.cards[0].deviceId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Is data roaming?</ion-label>
      <ion-input disabled type="text" [ngModel]="simInfo.cards[0].isDataRoaming"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Is network roaming?</ion-label>
      <ion-input disabled type="text" [ngModel]="simInfo.cards[0].isNetworkRoaming"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Mcc:</ion-label>
      <ion-input disabled type="text" [ngModel]="simInfo.cards[0].mcc"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Mnc:</ion-label>
      <ion-input disabled type="text" [ngModel]="simInfo.cards[0].mnc"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Phone Number:</ion-label>
      <ion-input disabled type="text" [ngModel]="simInfo.cards[0].phoneNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Sim Serial Number:</ion-label>
      <ion-input disabled type="text" [ngModel]="simInfo.cards[0].simSerialNumber"></ion-input>
    </ion-item>
    <div *ngIf="simInfo.cards[1]">
      <ion-item-divider color="dark">Sim 2</ion-item-divider>
      <ion-item>
        <ion-label>Carrier Name:</ion-label>
        <ion-input disabled type="text" [ngModel]="simInfo.cards[1].carrierName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Display Name:</ion-label>
        <ion-input disabled type="text" [ngModel]="simInfo.cards[1].displayName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Country Code:</ion-label>
        <ion-input disabled type="text" [ngModel]="simInfo.cards[1].countryCode"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Device ID:</ion-label>
        <ion-input disabled type="text" [ngModel]="simInfo.cards[1].deviceId"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Is data roaming?</ion-label>
        <ion-input disabled type="text" [ngModel]="simInfo.cards[1].isDataRoaming"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Is network roaming?</ion-label>
        <ion-input disabled type="text" [ngModel]="simInfo.cards[1].isNetworkRoaming"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Mcc:</ion-label>
        <ion-input disabled type="text" [ngModel]="simInfo.cards[1].mcc"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Mnc:</ion-label>
        <ion-input disabled type="text" [ngModel]="simInfo.cards[1].mnc"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Phone Number:</ion-label>
        <ion-input disabled type="text" [ngModel]="simInfo.cards[1].phoneNumber"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Sim Serial Number:</ion-label>
        <ion-input disabled type="text" [ngModel]="simInfo.cards[1].simSerialNumber"></ion-input>
      </ion-item>
    </div>
  </ion-list>
</ion-content>